* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

li {
    color: #352348;
}

.pageHeader {
    width: 100vw;
    background-color: #352348;
}

.siteLogo {
    font-family: Revalia;
    font-size: 1.5rem;
    color: #F36906;
    margin: 0.5rem 0 0.5rem 0.5rem;
}