* {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  padding: 1rem;
}

.siteLogo{
  font-family: Revalia;
  color: #F36906;
  margin-left: 1rem;
}

a {
  display: flex;
  flex-direction: row;
}